<p> <table border="3">
<tr>
   <td valign="top"> system_params.header.update_enabled </td>
   <td> <input width="100px" type="text" id="system_params_header_update_enabled" /> </td>
   <td> <button type="button" onclick="setVariable('system_params.header.update_enabled')"/> SET</td>
</tr>
<tr>
   <td valign="top"> system_params.timer_period_ms </td>
   <td> <input width="100px" type="text" id="system_params_timer_period_ms" /> </td>
   <td> <button type="button" onclick="setVariable('system_params.timer_period_ms')"/> SET</td>
</tr>
<tr>
   <td valign="top"> system_params.comm_speed </td>
   <td> <input width="100px" type="text" id="system_params_comm_speed" /> </td>
   <td> <button type="button" onclick="setVariable('system_params.comm_speed')"/> SET</td>
</tr>
<tr>
   <td valign="top"> system_params.comm_cycles </td>
   <td> <input width="100px" type="text" id="system_params_comm_cycles" /> </td>
   <td> <button type="button" onclick="setVariable('system_params.comm_cycles')"/> SET</td>
</tr>
<tr>
   <td valign="top"> system_params.watchdog_cycles </td>
   <td> <input width="100px" type="text" id="system_params_watchdog_cycles" /> </td>
   <td> <button type="button" onclick="setVariable('system_params.watchdog_cycles')"/> SET</td>
</tr>
</table> </p>
